### Variables and Expression

In [2]:
#Constants
print(82)
print(56.34)
print('I love Python')

82
56.34
I love Python

In [3]:
#Variable
a = 23
b= 'Python is Great!!'

In [4]:
a = 43.34
print(a)

43.34

In [5]:
#Assignment
a = a + 5

In [6]:
a = 9
b = 7

#Multiple Assignment
a ,b = 9,7

In [7]:
#Numeric Expression
a = 10
b = 5 
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)

15
5
50
2.0
100000
0

In [8]:
c = (5+2) * 4 - 7
print(c)

21

In [9]:
is_male = True
is_senior_person = False

In [10]:
34>12

True

In [11]:
valid_string_1 = "I am Valid!!"
valid_string_2 ='I am Valid too !!'

In [11]:
first_string = "Abhishek"
second_string = "Vijayvargia"

concat1 = first_string+second_string
concat2 = first_string+" "+second_string

In [12]:
len(concat2)

20

In [13]:
city_description = "Pune is a beautiful city."
print(city_description.title())

Pune Is A Beautiful City.

In [14]:
type(c)

int

In [15]:
#Type example
print(type(12))
print(type(12.45))
print(type('hello'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [16]:
#Converting Integer to float
a = 56
float(a)
str(a)

'56'

In [17]:
#Convert float to integer
b = 67.45
int(b)

67

In [18]:
#Converting String to float (Gives Error)
str1 = '123'
str2 = 'Hello'
float(str1)
float(str2)

ValueError: could not convert string to float: 'Hello'

In [19]:
name = input('Please enter your name')

Please enter your nameAbhishek

In [20]:
print(name)

Abhishek

In [21]:
#If condition
a = 20
if(a>15):
    print('Large Number')
else:
    print('Small Number')

Large Number

In [22]:
34/0

ZeroDivisionError: division by zero

In [23]:
#Function
def calculate_pay(hours,pay_per_hour):
    amount = hours*pay_per_hour
    return amount

In [24]:
def print_welcome_message():
    print("Hello Stranger")

In [25]:
price = 200
if price<250:
    print('Buy !!')

Buy !!

In [26]:
price = 200
if price<150:
    print('Buy !!')
else:
    print('Sell !!')

Sell !!

In [27]:
price = 200
if price<150:
    print('Buy !!')
elif price>=150 and price<250:
    print('Hold !!')
else:
    print('Sell !!')

Hold !!

In [28]:
a = True
b = False
if a and b:
    print('And')
if a or b:
    print('Or')
if not b:
    print('Not')

Or
Not

In [29]:
#List example
my_first_list = [1,2,4,8,16]

In [30]:
print(my_first_list[1])

2

In [31]:
my_first_list[1:4]

[2, 4, 8]

In [32]:
my_first_list[2:]

[4, 8, 16]

In [33]:
my_first_list[:3]

[1, 2, 4]

In [34]:
if 8 in my_first_list:
    print("Eight is Found.")

Eight is Found.

In [35]:
max(my_first_list)

16

In [36]:
min(my_first_list)

1

In [37]:
sorted(my_first_list)

[1, 2, 4, 8, 16]

In [38]:
sorted(my_first_list,reverse=True)

[16, 8, 4, 2, 1]

In [39]:
my_first_list.append(32)
print(my_first_list)

[1, 2, 4, 8, 16, 32]

In [40]:
my_first_list.insert(2,74)
print(my_first_list)

[1, 2, 74, 4, 8, 16, 32]

In [41]:
my_first_list.clear()

In [42]:
my_first_list.count(16)

0

In [43]:
my_first_list.remove(74)

ValueError: list.remove(x): x not in list

In [44]:
my_first_list.reverse()

In [45]:
my_first_list.pop()

IndexError: pop from empty list

In [46]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [47]:
for element in my_first_list:
    print(element+10)

In [48]:
i = 1
while i<5:
    print(i*i)
    i = i+1
    if(i==3):
        break

1
4

In [49]:
i = 0
while i<5:
    i = i+1
    if(i==3):
        continue
    print(i*i)

1
4
16
25

In [50]:
my_duplicate_list = [1,2,3,1,2,3,5,6,3,2]
print(my_duplicate_list)
my_unique_list = set(my_duplicate_list)
print(my_unique_list)

[1, 2, 3, 1, 2, 3, 5, 6, 3, 2]
{1, 2, 3, 5, 6}

In [51]:
dictionary = {'A':1,'B':2,'C':3}

In [52]:
dictionary['A']

1

In [53]:
dictionary['A'] = 5

In [54]:
for key in dictionary:
    print(key,dictionary[key])

A 5
B 2
C 3

In [55]:
complex_dict = {'first_dict': {'A':1,'B':2,'C':3},'second_dict': {'E':1,'F':2,'G':3}}

In [56]:
dim = (45.23,67.34)

In [57]:
import time
time.time()

1516959285.4428346

In [58]:
time.time()

1516959285.6664286

In [59]:
from math import factorial

In [60]:
import numpy as np

In [61]:
f = open('./data/my_file.txt','r')
file_content = f.read()

In [62]:
f.close()

In [63]:
f = open('./data/my_file_w.txt','w')
f.write('Writing in File')
f.close()

In [64]:
with open('./data/my_file_w.txt','r') as f:
    print(f.read())

Writing in File