In [2]:
import pandas as pd
from scipy.constants import *

In [12]:
delta_mu_F=4E+9
data1='''387.6Hz	1.4085kHz
383.14Hz	1.2821kHz
378.79Hz	1.3889kHz
381.68Hz	1.3889kHz
380.23Hz	1.3699kHz'''
df1=pd.DataFrame(columns=['delta_miu','delta_miu_m'])
for i in data1.split('\n'):
    a,b=i.split()
    a=float(a.replace('Hz',''))
    b=float(b.replace('kHz',''))*1e3
    df1=df1.append({'delta_miu':a,'delta_miu_m':b},ignore_index=True)
df1

   delta_miu  delta_miu_m
0     387.60       1408.5
1     383.14       1282.1
2     378.79       1388.9
3     381.68       1388.9
4     380.23       1369.9

In [10]:
data2='''频率较小的模的半高宽	较大的模的半高宽	delta miu
12.285kHz	12.594kHz	384.62Hz
12.953kHz	11.655kHz	383.14Hz
12.821kHz	12.821kHz	384.62Hz
13.158kHz	12.821kHz	381.68Hz
12.195kHz	12.048kHz	383.14Hz'''
df2=pd.DataFrame(columns=['miu1','miu2','delta_miu'])
for i in data2.split('\n')[1:]:
    a,b,c=i.split()
    a=float(a.replace('kHz',''))*1e3
    b=float(b.replace('kHz',''))*1e3
    c=float(c.replace('Hz',''))
    df2=df2.append({'miu1':a,'miu2':b,'delta_miu':c},ignore_index=True)
df2

      miu1     miu2  delta_miu
0  12285.0  12594.0     384.62
1  12953.0  11655.0     383.14
2  12821.0  12821.0     384.62
3  13158.0  12821.0     381.68
4  12195.0  12048.0     383.14

In [11]:
data3='''增益线宽	delta miu
793.65Hz	384.62Hz
757.58Hz	387.60Hz
781.25Hz	387.60Hz
746.27Hz	384.62Hz
769.23Hz	384.62Hz'''
df3=pd.DataFrame(columns=['miu','delta_miu'])
for i in data3.split('\n')[1:]:
    a,b=i.split()
    a=float(a.replace('Hz',''))
    b=float(b.replace('Hz',''))
    df3=df3.append({'miu':a,'delta_miu':b},ignore_index=True)
df3

      miu  delta_miu
0  793.65     384.62
1  757.58     387.60
2  781.25     387.60
3  746.27     384.62
4  769.23     384.62